.create-message {
  position: absolute;
  bottom: 0;
  background-color: aquamarine;

  &__form {
    display: flex;
  }

  &__text {
    flex: 1;
    width: 100%;
    padding: $spacing-x1 0 0 $spacing-x1;
    resize: none; 
  }

  &__button {
    padding: 0 $spacing-x1;
  }
}
