.create-message {
  position: relative;
  // margin-top: 1;
  // bottom: 0;
  background-color: #BCBCBC;

  &__form {
    display: flex;
  }

  &__text {
    flex: 1;
    width: 100%;
    padding: $spacing-x1 0 0 $spacing-x1;
    resize: none; 
    background-color: #BCBCBC;
    border: none;
    outline: none;
    font-size: 16px;
  }
}
