.navbar {
  padding: $spacing-x2;
  display: flex;
  justify-content: space-between;
  background-color: $black;
  align-items: center;

  &__logo {
    width: 150px;
    height: 60px;

    @media (min-width: 768px) {
      width: 200px;
      height: 70px;
    }
  }

  // &__hamburger {
  //   @media (min-width: 768px) {
  //     display: none;
  //   }
  //   margin: $spacing-x1 0;
  // }
}

.navbar-toggler {
  height: 50px;
  width: 50px;


  @media (min-width: 1024px) {
    display: none;
  }
}
