.sidebar {
  flex: 1;
  position: relative;
  background-color: #484848;
  display: flex;
  flex-direction: column;

  &__buttons-group {
    display: flex;
    align-self: center;
    flex-direction: row;
    
  }

  &__button {
    flex: 1;
    padding: 20px 0;
  }

  &__button-new {
    align-self: center;
    justify-self: flex-end;
  }

  &__content  {
    display: flex;  
    flex: 1;
    flex-wrap: no-wrap;
    flex-direction: column;
    justify-content: space-between;
    padding: $spacing-x4 0;
  }
}
