.sidebar {
  flex: 1;
  position: relative;
  background-color: #484848;
  display: flex;
  flex-direction: column;

  &__buttons-group {
    display: flex;
    align-self: center;
    flex-direction: row;
    width: 100%;
    background-color: black;
  }

  &__button-on {
    flex: 1;
    padding: $spacing-x4 $spacing-x4;
    background-color: #484848;
    color: white;
    border: 0px solid #484848;
    border-radius: 0 40px 0 0;
   
    &:focus {
      outline: 0;
    }
  }

  &__button-off {
    flex: 1;
    padding: $spacing-x4 $spacing-x4;
    background-color: black;
    color: white;
    border: 0px solid black;
    border-radius: 0 40px 0 0;

    &:focus {
      outline: 0;
    }
  }

  &__button-new {
    align-self: center;
    justify-self: flex-end;
  }

  &__content {
    display: flex;  
    flex: 1;
    flex-wrap: no-wrap;
    flex-direction: column;
    justify-content: space-between;
    padding: $spacing-x4 0;
  }

  &__list ul {
    padding-left: $spacing-x4;
    list-style-type: none;
  }
}
