.sidebar {
  display: none;
  background-color: #484848;
  flex-direction: column;

  &__content {
    padding: $spacing-x1 0;
  }

  &__header {
    font-size: $basic-font-size;
    padding: $spacing-x3;
    color: $white;
    background-color: $black;
    text-align: center;
  }

  &__list {
    list-style-type: none;
    color: $grey;
  }

  &__contact {
    border-bottom: 2px solid transparent;
    padding-bottom: 1px;
    font-size: $basic-font-size;

    &:hover {
      border-color: $red;
      color: $white;
      cursor: pointer;
    }

    &--clicked {
      border-color: $red;
      color: $white;
    }
  }

  &__contact {
    margin: $spacing-x3;
  }

  @media (min-width: 1024px) {
    display: flex;
    flex: 1;
  }

  &--open-on-mobile {
    display: flex;
    flex: 100%;
    text-align: center;
  }
}
