.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-wrap: wrap;
  flex-direction: column;

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__name {
    border: 2px solid $black;
    font-size: $basic-font-size;
    margin-bottom: $spacing-x2;
    padding: $spacing-x2;
  }

  &__wrapper {
    position: relative;
  }

  &__name-header {
    font-size: 1rem;
    padding: 0 $spacing-x1;
    background: #fff;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__logo {
    width: 253px;
    height: 111px;
    margin-bottom: $spacing-x3;
    background: url("../images/logo2.png") no-repeat;
    background-size: contain;
  }
}
