@import "./_variables";

@import "./_Conversations";
@import "./_Contacts";
@import "./_CreateMessage";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
};

body {
  margin: auto;
}

.container {
  height: 100vh;
  display: flex;
}
