.button {
  cursor: pointer;
  font-size: $basic-font-size;
  text-transform: uppercase;
  padding: $spacing-x1 $spacing-x3;
  color: white;
  background-image: linear-gradient(to right, #000 0%, #000 51%, $red 100%);
  border: 1px solid #000;
  transition: 0.3s;
  background-size: 200% auto;
  outline: none;

  &:hover {
    color: white;
    background-position: right center;
    box-shadow: 0 0 10px #000;
  }

  &:disabled {
    opacity: 0.4;
  }

  &[disabled]:hover {
    box-shadow: none;
  }
}
